
@{
    ViewData["Title"] = "ContactUs";
}

<div class="fsElement fsContainer panel-full-width panel-full-boundary panel-padding-thick panel-grey" id="fsEl_130871" data-use-new="true">

				<div class="fsElementContent">
			<div class="fsElement fsContent" id="fsEl_130881" data-use-new="true">

				<div class="fsElementContent">
			<h2 style="text-align: center;">Ready to crush your enrollment goals? We should talk.</h2>


	</div>


	</div>
	<div class="fsElement fsLayout fsTwoColumnLayout fsStyleAutoclear" id="fsEl_130872" data-use-new="true">

						<div class=" fsDiv fsStyleColumn fsStyleColumn-1 fsStyleAutoclear" id="fsEl_130873">

				<div class="fsElement fsContent card-grey" id="fsEl_130874" data-use-new="true" top-image-only="" updated="">

				
	<div class="top-image"><figure class="fsImage"><picture><img alt="Woman sitting in home office working on a laptop" data-image-sizes="[{%22url%22:%22https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_1/v1642544728/finalsite/atmcmldvnjppjcuj6bkf/Finalsite-Software-Demo-AdobeStock_343789861.jpg%22,%22width%22:256},{%22url%22:%22https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_2/v1642544728/finalsite/atmcmldvnjppjcuj6bkf/Finalsite-Software-Demo-AdobeStock_343789861.jpg%22,%22width%22:512},{%22url%22:%22https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_3/v1642544728/finalsite/atmcmldvnjppjcuj6bkf/Finalsite-Software-Demo-AdobeStock_343789861.jpg%22,%22width%22:800},{%22url%22:%22https://resources.finalsite.net/images/f_auto,q_auto/v1642544728/finalsite/atmcmldvnjppjcuj6bkf/Finalsite-Software-Demo-AdobeStock_343789861.jpg%22,%22width%22:1200}]" data-resource-description="" data-resource-filename="Finalsite-Software-Demo-AdobeStock_343789861.jpg" data-resource-uuid="56256111-819a-4b31-940a-79fc272c0195" id="" src="https://resources.finalsite.net/images/f_auto,q_auto,t_image_size_3/v1642544728/finalsite/atmcmldvnjppjcuj6bkf/Finalsite-Software-Demo-AdobeStock_343789861.jpg" style=""></picture></figure></div><div class="fsElementContent">
			<h3>Ready to take a closer look?</h3>

<p><span class="fs_style_96">Book a free, personalized overview of our admission and enrollment software!<br>
<br>
We’ll answer any questions you may have and share how we can help you create a better experience for both your team and the families your school serves.&nbsp;</span></p>


	</div>


	</div>




	</div>
	<div class=" fsDiv fsStyleColumn fsStyleColumn-2 fsStyleColumn-last fsStyleAutoclear" id="fsEl_130875">

				<section class="fsElement fsContent card-1" id="fsEl_130880" data-use-new="true" aria-label="Request a demo">

	<div class="fsElementContent">
			<div class="fsCallout" style="float:right;"></div>

						<form>
							<h1 class="title text-center mb-4 title-purple">تواصل معنا</h1>

							<!-- Name -->
							<div class="form-group position-relative input-purple-container ">
								<label for="formName" class="d-block">
									<i class="icon" data-feather="user"></i>
								</label>
								<input type="text" id="formName" class="form-control form-control-lg thick col-md-6 input-purple" placeholder="الأسم">
							</div>

							<!-- E-mail -->
							<div class="form-group position-relative input-purple-container ">
								<label for="formEmail" class="d-block">
									<i class="icon" data-feather="mail"></i>
								</label>
								<input type="email" id="formEmail" class="form-control form-control-lg thick input-purple" placeholder="البريد الألكتروني">
							</div>

							<!-- Message -->
							<div class="form-group message input-purple-container ">
								<textarea id="formMessage" class="form-control form-control-lg input-purple" rows="7" placeholder="الرسالة"></textarea>
							</div>

							<!-- Submit btn -->
							<div class="text-center input-purple-container ">
								<button type="submit" class="btn submit-purple" tabIndex="-1">إرسال</button>
							</div>
						</form>

					</div>
	</section>




	</div>



	<footer>
		<div class="fsElementFooterContent">
			<p><a id="demo" name="demo"></a></p>

		</div>
	</footer>


	</div>



	</div>


	</div>
